<%- include('partials/header') -%>

<h1>Compose</h1>

<form action="/compose" method="post">
    <div class="form-group">
        <label for="title" class="form-label">Title: </label>
        <input id="title" type="text" class="form-control" name="composeTitle">
    </div>
    <div class="form-group">
        <label for="text" class="form-label">Text: </label>
        <textarea id="text" class="form-control" name="composeText"  rows="4"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Publish</button>
</form>

<%- include('partials/footer') -%>